__pycache__/
*.py[cod]

build/
dist/
*.spec

CodeRain_Final/
CodeRain_Final.zip
CodeRain_macOS/
CodeRain_macOS.zip
CodeRain_Error_Windows/
CodeRain_Error_Windows.zip
CodeRain_Error_macOS/
CodeRain_Error_macOS.zip
